@media (min-width: 768px) {
    /* ====================== */
    /* ------ Globals ------  */
    /* ====================== */

    nav {
        height: 70px;
    }

    .container {
        padding: 0 30px;
    }

    /* Navbar */
    #nav-logo {
        width: 200px;
    }

    #hamburger-menu {
        display: none;
    }

    #nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: static;
        padding: 0;
        height: 100%;
        width: 57%;
    }

    #nav-links li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nav-services-dropdown {
        display: none;
    }
    

    /* ======================= */
    /* ------ Home Page ------ */
    /* ======================= */

    #home-hero-section {
        display: flex;
        padding-top: 115px; 
    }

    #home-hero-section .img-container {
        order: 2;
        top: -70px;
        left: 20px;
    }

    #hero-img {
        width: 160%;
    }

    #home-hero-section .hook {
        flex-shrink: 0;
        width: 60%;
    }

    .cta-button.home {
        width: 70%;
    }

}



/* Font Size Change Happens Here */
@media (min-width: 900px) {
    
    /* ====================== */
    /* ------ Globals ------  */
    /* ====================== */
    
    p {
        font-size: 16px;
    }

    nav {
        height: 75px;
    }

    .container {
        padding: 0 35px;
    }

    /* Navbar */
    #nav-logo {
        width: 225px;
    }

    #nav-links {
        font-size: 16px;
    }

    /* ======================= */
    /* ------ Home Page ------ */
    /* ======================= */

    #home-hero-section {
        padding-top: 125px;
    }

    #home-hero-section h1 {
        font-size: 24px;
    }

    #home-hero-section p {
        font-size: 15px;
    }
    
    #home-hero-section .img-container {
        top: -85px;
        left: 25px;
    }

}

/* Font-Size Change Happen Here */
@media (min-width: 1024px) {

    /* ====================== */
    /* ------ Globals ------  */
    /* ====================== */

    nav {
        height: 85px;
    }

    p {
        font-size: 18px;
    }

    .container {
        padding: 0 50px;
    }

    /* Navbar */
    #nav-logo {
        width: 250px;
    }

    #nav-links {
        font-size: 18px;
    }

    #nav-links li.active {
        border-bottom-width: 4px;
    }

    /* ======================= */
    /* ------ Home Page ------ */
    /* ======================= */
    
    #home-hero-section {
        padding-top: 160px;
    }
    
    #home-hero-section .img-container {
        top: -120px;
        left: 45px;
    }
    
    #hero-img {
        width: 165%;
    }
    
    #home-hero-section h1 {
        font-size: 28px;
    }

    #home-hero-section p {
        font-size: 16px;
    }

    .cta-button.home {
        width: 60%;
    }
}

@media (min-width: 1280px) {
    
    /* ======================= */
    /* ------ Home Page ------ */
    /* ======================= */
    
    #home-hero-section {
        padding-top: 200px;
    }
    
    #home-hero-section .img-container {
        top: -130px;
        left: 55px;
    }

    #home-hero-section h1 {
        font-size: 32px;
    }

    #home-hero-section p {
        font-size: 17px;
    }

    .cta-button.home {
        width: 55%;
    }

}


@media (min-width: 1440px) {

    /* ====================== */
    /* ------ Globals ------  */
    /* ====================== */

    #nav-logo {
        width: 265px;
    }

    /* ======================= */
    /* ------ Home Page ------ */
    /* ======================= */

    #home-hero-section h1 {
        font-size: 35px;
    }

    #home-hero-section p {
        font-size: 18px;
    }

    #home-hero-section .img-container {
        top: -140px;
        left: 65px;
    }
}