:root {
    --white: #FFFFFF;
    --accent: #4BB8E0;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001B30;
    color: var(--white);
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

button {
    border-style: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
}

ul, ol{
    list-style: none;
}


/* ---------------------------- */
/* ------ Global Classes ------ */
/* ---------------------------- */

nav {
    background-color: var(--white);
    height: 60px;
}

.container {
    padding: 0 15px;
    width: 100%;
}

.cta-button {
    background-color: var(--accent);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    height: 50px;
}


/* ----------------------- */
/* ------ Home Page ------ */
/* ----------------------- */

/* Hero Section */
#hero-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.hero-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#hero-img {
    width: 140%;
    max-width: none;
    height: auto;
}

#hero-section h1 {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: left;
}

#hero-section p {
    font-size: 14px;
    opacity: 80%;
    text-align: justify;
    margin-bottom: 30px;
}

.cta-button.cta-button-hero {
    font-size: 20px;
}

/* Services Section */
#services-section {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 65px 0;
    margin-bottom: 95px;
}

#service-icons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 68px;
}

.service-icon-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    width: 50%;
}

/* Todo: Transition Hover */
.service-icon-link:hover h2{
    color: #3CC0F0;
    opacity: 100%;
}
.service-icon-link:hover .service-icon{
    fill: #3CC0F0;
    opacity: 100%;
}

.service-icon-link h2 {
    font-size: 20px;
    font-weight: 800;
    opacity: 50%;
}

.service-icon {
    fill: var(--white);
    opacity: 50%;
    height: 73px;
    width: auto;
}
